*{
    padding: 0%;
    margin: 0%;
 }
body{
    background: url(login.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
} 
.label{
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #130f40;
}
.login_form{
  padding: 20px 40px;
}
.login_form .font{
  font-size: 18px;
  color: #130f40;
  margin: 5px 0;
}
.login_form input{
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}

.login_form .font2{
  margin-top: 30px;
}

.login_form button{
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #1a237e;
  border-radius: 3px;
  border: 1px solid #3949ab;
  transition: .5s;
}
.login_form button:hover{
  background: #151c5a;
}

.login_form #email_error, 
.login_form #pass_error{
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #c62828;
  background: rgba(255,0,0,0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}
